.form {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

.input {
    margin: auto;
    width: 40%;
    display: grid;
    margin-bottom: 5%;
}

.input div input[type="radio"] {
    margin-right: 5px;
}

h1 {
    font-weight: bolder;
    text-align: center;
}

legend {
    font-size: medium;
}

input[type=checkbox] {
    width: fit-content;
}

.nest {
    display: contents;
}

