.org-list div img {
    width: 75%;
    height: 75%;
    margin: auto;
}

.org-list div {
    width: 25%;
    margin: auto;
}

.org-list {
    display: -webkit-inline-box;
}

.dropdown-menu {
    width: 30rem;
    height: 50rem;
    overflow-y: scroll;
    overflow-x: clip;
}